.input__search {
    border: none;
    height: 30px;
    margin: 0.5em;
    padding: 0.5em;
}

.button__search {
    border: none;
    height: 30px;
    background-color: #DD1A1A;
    color: white;
    transition: transform 200ms ease;
    cursor: pointer;
}

.button__search:hover {
    transform: scale(1.05);
    transition: transform 200ms ease;
}
.select__type{
    border: none;
    cursor: pointer;
}